
<div class= "wrapper">
  
  <div class = "header">

    <div class = "account">
      <a href = "#">職員名</a>
    </div>
    <div class = "roll">
      <a href = "#">利用者名簿</a>
    </div>
    <div class = "enroll">
      <a href = "#">利用者登録</a>
    </div>
    <div class = "vault">
      <a href = "#">保管庫</a>
    </div>

  </div>

  <div class = "body">

    <div class = "record-page">

      <%= render "record_header" %>

      <%= render "record_main" %>

    </div>

    <div class = "profile-page">
    
      <div class = profile-page-h>
        <%= render "profile_header" %>
      </div>
      <%= render "profile_main" %>

    </div>

  </div>

</div>
