<div class="wrapper">

  <div class = "record_page">

    <div class = "record_page_h">
      <%= render "record_header" %>
    </div>
    
    <%= render "record_main" %>
  </div>

  <div class = "profile_page">
    
    <div class = profile_page_h>
      <%= render "profile_header" %>
    </div>

    <%= render "profile_main" %>
  </div>

</div>
