<div class = "record-main">

  <div class="patient-list">

    <div class="patient">
      <div class="patient-name">
        <a href="#">利用者Ａ</a>
      </div>
    </div>
    <div class="patient">
      <div class="patient-name">
        <a href="#">利用者Ｂ</a>
      </div>
    </div>
    <div class="patient">
      <div class="patient-name">
        <a href="#">利用者Ｃ</a>
      </div>
    </div>

  </div>

</div>