<div class = 'profile_main'>
  <%# ≪利用者プロファイル２≫ %>
  <div class = 'life'>既往歴</div>
  <div class = 'disease'>基礎疾患</div>
  <div class = 'medications'>服用薬</div>
  <%# ≪タグ関連の記録（最新3件）new≫ %>
  <div class = 'title'>日常生活動作（ＡＤＬ</div>
  <div class = 'title'>周辺症状（ＢＰＳＤ</div>
  <div class = 'title'>トラブル</div>
  <div class = 'title'>興味</div>
  <div class = 'title'>リハビリ</div>
  <div class = 'title'>医療</div>
</div>