<div class = 'profile_header'>
  <%# ≪利用者プロファイル≫ %>
  <div class = 'name'>氏名</div>
  <div class = 'barth'>生年月日</div>
  <div class = 'gender'>性別</div>
  <div class = 'work'>職歴</div>
  <div class = 'family'>家族</div>
  <div class = 'phone'>連絡先</div>
  <div class = 'image'>顔写真</div>
</div>